<section>
    <div class="row atolltablerow" (click)="onclickToolIdunassigned()" [ngStyle]="{'background':backColor}">
        <div [ngClass]="{'col-xs-2':!globalopenflag,'col-xs-3':globalopenflag}">
            <p>
                {{unassignedElement.toolid}}
            </p>
        </div>
        <div [ngClass]="{'col-xs-2':!globalopenflag,'col-xs-3':globalopenflag}">
            <p>
                {{unassignedElement.partnumber}}
            </p>
        </div>
        <div [ngClass]="{'col-xs-2':!globalopenflag,'col-xs-3':globalopenflag}">
            <p>
                {{unassignedElement.nodeid}}
            </p>
        </div>
        <div class="col-xs-2" *ngIf="!globalopenflag">
            <p>{{unassignedElement.count}}/{{unassignedElement.max_die_life}}</p>
            <div class="progress">
                <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100">
                    <span class="sr-only">{{unassignedElement.count}} Complete</span>
                </div>
            </div>
        </div>
        <div [ngClass]="{'col-xs-2':!globalopenflag,'col-xs-3':globalopenflag}">
            <p>
                {{unassignedElement.suppliername}}
            </p>
        </div>
        <div ngClass="col-xs-2" *ngIf="!globalopenflag">
            <p>{{unassignedElement.server_datetime}}</p>
        </div>
    </div>
</section>