<div class="container-fluid">
  <div class="row">
    <div class="col-md-10">
      <input type="text" [(ngModel)]="Status" placeholder="Update Status">
    </div>

    <div class="col-md-2">
      <button class="btn btn-primary" (click)="onStatusUpdate()">
       Tweet
      </button>
    </div>
  </div>
  <div class="row" *ngFor="let status of statuses">
    <hr>
    <div class="col-sm-1">
      <img src="http://www.gstatic.com/webp/gallery/2.jpg" class="img-responsive">
    </div>
    <div class="col-sm-1">
      <div class="row">Updated </div>
      <div class="row">
        10.12.2018
      </div>
    </div>
    <div class="col-sm-10">{{status}}</div>
  </div>
</div>