/* You can add global styles to this file, and also import other style files */
.atol-text{
    color: gray;
    font-family: 'Roboto';

}

.atol-header1{
    color: gray;
    font-family: 'Roboto';
    font-size: 30px;    
}

.atol-header2{
    color: gray;
    font-family: 'Roboto';
    font-size: 20px;    
}

.atol-header2{
    color: gray;
    font-family: 'Roboto';
    font-size: 15px;    
}