<div class="main-content atoll-dashboard atoll-content">
    <div class="row">
        <div class="col-xs-8" style="margin:0px!important">
            <h5>Dashboard</h5>
        </div>
        <div class="col-xs-3">
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <p>{{global.selectedPeriod}}
                            <span class="caret"></span>
                        </p>
                    </a>
                    <ul class="dropdown-menu">
                        <li *ngFor="let item of global.dropdownPeriods">
                            <a *ngIf="global.selectedPeriod != item" (click)="global.selectSortPeridDropdown(item)">{{item}}</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="col-xs-1">
            <i class="material-icons">settings</i>
        </div>
    </div>
    <div class="row">
        <section class="row atoll-widget">
            <div class="panel panel-collapse ">
                <header class="panel-heading">
                    <label class="panel-title">Die Details</label>
                </header>
                <section class="panel-body">
                    <div class="row">
                        <div class="col-xs-2">
                            <div class="row">
                                <div class="text-center">
                                    <p class="text-primary" style="color:#074D80">{{global.totalproduction}}
                                        <span class="badge" *ngIf="isProdAdded">{{global.totalproduction}} Added</span>
                                    </p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="text-center">
                                    <a href="#/die-part-details" class="text-gray">
                                        <label>Production</label>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-3">
                            <div class="row">
                                <div class="text-center">
                                    <p class="text-primary" style="color:#F6AE2C">{{global.totalStorage}}
                                        <span class="badge" *ngIf="isStorageAdded">{{global.totalStorage}} Added</span>
                                    </p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="text-center">
                                    <a href="#/die-part-details" class="text-gray ">
                                        <label>Storage</label>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-2">
                            <div class="row">
                                <div class="text-center">
                                    <p class="text-primary" style="color:#86BBD8">{{global.totalRepair}}
                                        <span class="badge" *ngIf="isRepairAdded">{{global.totalRepair}} Added</span>
                                    </p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="text-center">
                                    <a href="/#/die-part-details" class="text-gray ">
                                        <label>In Repair</label>
                                    </a>
                                </div>
                            </div>
                        </div>

                        <div class="col-xs-3">
                            <div class="row">
                                <div class="text-center">
                                    <p class="text-primary" style="color:#F2641A">{{global.totalMissing}}
                                        <span class="badge" *ngIf="isStorageAdded">{{global.totalMissing}} Added</span>
                                    </p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="text-center">
                                    <a href="#/die-part-details" class="text-gray ">
                                        <label>Missing</label>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-2">
                            <div class="row">
                                <div class="text-center">
                                    <p class="text-primary" style="color:#429EA6">{{global.totalunassigned}}
                                        <span class="badge" *ngIf="isStorageAdded">{{global.totalunassigned}} Added</span>
                                    </p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="text-center">
                                    <a href="#/die-part-details" class="text-gray ">
                                        <label>Unassigned</label>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" *ngIf="global.totalCount > 0">
                        <div class="row" style="width: 96%;margin: 2%;height: 2vh;">
                            <div class="progress-bar" role="progressbar" style="background:#074D80;" [ngStyle]="{width: global.prodPercent}">
                            </div>
                            <div class="progress-bar" role="progressbar" style="background: #F6AE2C" [ngStyle]="{width: global.storePercent}">
                            </div>
                            <div class="progress-bar" role="progressbar" style="background:#86BBD8" [ngStyle]="{width: global.repPercent}">
                            </div>
                            <div class="progress-bar" role="progressbar" style="background:#F2641A" [ngStyle]="{width: global.missingPercent}">
                            </div>
                            <div class="progress-bar" role="progressbar" style="background: #429EA6" [ngStyle]="{width: global.unUsPercent}">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <label class="text-primary" style="margin-left:2%;font-size: 1.25vw;font-weight: 400!important">
                            Total {{global.totalCount}} Dies
                        </label>
                    </div>
                </section>
            </div>
        </section>
    </div>
    <div class="row">
        <div class="col-xs-8">
            <section class="row atoll-widget" style="margin:0px!important">
                <div class="panel panel-collapse">
                    <header class="panel-heading">
                        <label class="panel-title">Vendor Details Overview</label>
                    </header>
                    <section class="panel-body atoll-section">
                        <div class="row" style="margin-left:7%">
                            <div class="col-xs-6">
                                <app-circular-progress [title]="'05'" [subtitle]="'vendors'"></app-circular-progress>
                            </div>
                            <div class="col-xs-6">
                                <svg width="100%" height="15%">
                                    <rect x="1vw" y="2vh" width="2vw" height="2vw" style="fill:#074D80;stroke:#074D80;stroke-width:2;" />
                                    <rect x="1vw" y="10vh" width="2vw" height="2vw" style="fill:#D83F45;stroke:#D83F45;stroke-width:2;" />
                                    <text x="5vw" y="4.5vh" font-family="Roboto" font-size="1vw" fill="gray">On Track</text>
                                    <text x="5vw" y="12.5vh" font-family="Roboto" font-size="1vw" fill="gray">At Risk</text>
                                </svg>
                            </div>
                            <div class="col-xs-6">
                            </div>
                        </div>
                    </section>
                </div>
            </section>
        </div>
        <section class="col-xs-4 atoll-widget" style="margin:0px!important">
            <div class="panel panel-collapse">
                <header class="panel-heading">
                    <label class="panel-title">Part Details</label>
                </header>
                <div class="row">
                    <section class="panel-body text-center atoll-section" id="DivDailyRTUsageChart">
                        <app-circular-progress [title]="'14'" [subtitle]="'parts'"></app-circular-progress>
                    </section>
                </div>
                <div class="row" style="margin-left:5vw">
                    <svg width="100%" height="15%">
                        <rect x="1vw" y="2vh" width="2vw" height="2vw" style="fill:#074D80;stroke:#074D80;stroke-width:2;" />
                        <rect x="1vw" y="10vh" width="2vw" height="2vw" style="fill:#D83F45;stroke:#D83F45;stroke-width:2;" />
                        <text x="5vw" y="4.5vh" font-family="Roboto" font-size="1vw" fill="gray">Production On Track</text>
                        <text x="5vw" y="12.5vh" font-family="Roboto" font-size="1vw" fill="gray">Production At Risk</text>
                    </svg>
                </div>
            </div>
        </section>
    </div>
</div>