<div class="container-fluid">
  <ng-content></ng-content>
  <div class="row">
    <div [ngClass]="{'col-xs-12': opensidebar==true, 'col-xs-6 opensidebar':opensidebar==false}">
      <div class="row table-header">
        <div class="col-xs-2">
          <h6>Tool ID </h6>
        </div>
        <div class="col-xs-2">
          <h6>Part Number</h6>
        </div>
        <div class="col-xs-2">
          <h6>Node ID</h6>
        </div>
        <div class="col-xs-3">
          <h6>Vendor Name</h6>
        </div>
        <div class="col-xs-2">
          <h6>Time Spent</h6>
        </div>
      </div>
      <div class="row">
        <div id="searchstorage" class="collapse searchbar2">
          <div class="row">
            <div class="col-xs-2">
              <input class="col-xs-12" type="search" id="storagetoolId" (input)="onSearchChangeToolId($event.target.value)">
            </div>
            <div class="col-xs-2">
              <input class="col-xs-12" type="search" id="storagepartnumber" (input)="onSearchChangePartNumber($event.target.value)">
            </div>
            <div class="col-xs-2">
              <input class="col-xs-12" type="search" id="storagenodeId" (input)="onSearchChangeNodeId($event.target.value)">
            </div>
            <div class="col-xs-3">
              <input class="col-xs-12" type="search" id="storagevendorName" (input)="onSearchChangeVendorName($event.target.value)">
            </div>
            <div class="col-xs-2">
              <input class="col-xs-12" type="search" id="storageDate" (input)="onSearchChangeSpent($event.target.value)">
            </div>
          </div>
        </div>
      </div>
      <app-storage-element (toolIdClickedStorage)="openSideWindow($event)" *ngFor="let item of updatedStorageList" [storageElement]="item" [backColor]="(toolId == item.toolid) && !opensidebar ? '#f7f7f7':'white'">
      </app-storage-element>
    </div>
    <div class="col-xs-6 opensidebar" *ngIf="!opensidebar">
      <div class="row sidebarHeader">
        <div class="col-xs-1">
          <i class="material-icons" (click)="closeSideWindow()">
            clear
          </i>
        </div>
        <div class="col-xs-4">
          <h4> Die {{toolId}}
          </h4>
        </div>
        <div class="col-xs-6">
          <h6>In Storage</h6>
        </div>
        <div class="col-xs-1">
          <i class="material-icons" (click)="closeSideWindow()">
            arrow_downward
          </i>
        </div>
      </div>
      <hr>
      <div class="row">
        <app-die-details [detailElement]="sendDieDetails" [selectedPeriod] = "selectodPeriod" [flagSidebaropen]="openSidebarGlobal"></app-die-details>
      </div>
    </div>
  </div>
</div>