<svg width="12vw" height="12vw" style="margin-top:0px">
    <circle cx="50%" cy="50%" r="45%" fill="none" stroke="#074D80" stroke-width="7%" />
    <circle cx="50%" cy="50%" r="45%" fill="none" stroke="#D83F45" stroke-width="7%" [attr.stroke-dasharray]="totalFill+'vw'"
    [attr.stroke-dashoffset]="val1" style="transition: .6s linear"/>
    <text x="50%" y="50%" font-family="Roboto" font-size="2.5vw" fill="#4A4A4A" text-anchor="middle" font-weight="500">{{title}}</text>
    <text x="50%" y="60%" font-family="Roboto" font-size="1vw" fill="#4A4A4A" text-anchor="middle">{{subtitle}}</text>
</svg>